<!doctype html>

<html ng-app="angParcelApp">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="/ngparcelGestion.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        
        <title>Parcel Gestion</title>
    </head>
    <body ng-controller="ParcelGestionController">
        <button class="ui labeled icon left attached button" style="right: 0px; top: 20px; position:absolute; " ng-click="resetScopes()">Reset<i class="undo icon"></i></button>
        <button class="ui labeled icon left attached button" style="position: absolute; right: 0px; top: 80px;" ng-click="openHelp()"> Help <i class="question icon"></i></button>
        <div>
        <div class="ui two column grid container">
            <div class="column">
                <div class="ui centered container">
                    <h1 class="ui header">Choose a parcel to track  <button class="ui compact button" ng-click="openAddParcel()">Add</button></h1>    
                <table class="ui centered collapsing compact table">
                <thead>
                <tr>
                    <th scope="col">Parcel ID</th>
                    <th scope="col">weight (kg)</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Location Final</th>
                </tr>
                </thead>
                <tr ng-repeat="parcels in Parcels" ng-class="{active: parcels.parcelID === currentParcel[0].parcelID}" >
                    <td>{{ parcels.parcelID }}</td>
                    <td>{{ parcels.weight }}</td>
                    <td>{{ parcels.custID }}</td>
                    <td>{{ parcels.finalLoc }}</td>
                    <td ng-click="getLocated(parcels.parcelID)"><button class="ui mini icon button"><i class="search icon"></i></button></td>
		        </tr>
            </table>
            </div>
                </div>
            
            
            <div class="column">
                <div class="ui centered container">
                    <h1 class="ui header">Choose a customer to track  <button class="ui compact button" ng-click="openAddCustomer()" >Add</button></h1>
                <table class="ui centered collapsing compact table">
                    <thead>
                    <tr>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Location</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="customer in Customers" ng-class="{active: customer.CustID === currentCustomer[0].CustID}">
                        <td>{{ customer.CustID }}</td>
                        <td>{{ customer.CustName }}</td>
                        <td>{{ customer.CustomerLocation }}</td>
                        <td ng-click="getCustomerParcel(customer.CustID)"><button class="ui mini icon button"><i class="search icon"></i></button></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>  
        <div class="ui centered container">
            <h1 class="ui centered row header">Tracking parcel</h1>
            <div class="row">
                <button class="ui labeled icon compact button" ng-click="openAddLocated()">
		<i class="plus circle icon"></i>Add Located</button>
                <button class="ui compact button" ng-click="delLast()">Delete Last</button>
            </div>
                
            
            
                <table class="ui centered compact table ">
                    <thead>
                    <tr>
                        <th scope="col">Parcel ID</th>
                        <th scope="col">Location ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Operation</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="located in Locateds">
                        <td>{{ located.parcelID }}</td>
                        <td>{{ located.locID }}</td>
                        <td>{{ located.date }}</td>
                        <td>{{ located.time }}</td>
                        <td>{{ located.operation }}</td>
                        <td ng-click="delLoc(located.parcelID,located.locID)"><button class="ui mini icon button"><i class="close icon"></i></button></td>
		    </tr>
                </table>
      
        </div>
            
        </div>
        
        <!-- The start of the modals -->
        
        <div class="ui parcel modal grid">
            <h1 class="ui row center aligned row header">Add a Parcel</h1>
            <form ng-submit="addParcel()" class="ui row centered aligned form">
                <div class=" row fields">
                    <div class="field">
                        <label>Weight <input type="number" size="5" ng-model="parc_newWeight" /></label>     
                    </div>
                    <div class="field">
                        <label class="field">Customer ID <select ng-model="parc_newCustId">
                                <option ng-repeat="customer in allCustomers" value="{{customer.CustID}}">{{customer.CustID}} - {{customer.CustName}}</option>
                            </select> 
                        </label>
                    </div>
                    <div class="field">
                        <label >Final Location <select ng-model="parc_newFinalLoc">
                                <option ng-repeat="location in allLocations" value="{{location.locID}}">{{location.locID}} - {{location.locAddress}}</option>
                                </select>
                        </label>
                    </div>
                        
                <button class="ui icon button" type="submit"><i class="plus icon"></i></button>
                </div>   
            </form>
        </div>
        
        <div class="ui customer modal grid">
            <h1 class="ui row center aligned row header">Add a Customer</h1>
            <form ng-submit="addCustomer()" class="ui row centered aligned form">
                <div class=" row centered aligned fields ">
                    <div class=" field">
                         <label>Customer Name <input type="text" size="5" ng-model="cust_newCustName"/> </label>
                    </div>
                    <div class="field">
                        <label>Customer Location <select ng-model="cust_newCustomerLocation">
                        <option ng-repeat="location in allLocations" value="{{location.locID}}">{{location.locID}} - {{location.locAddress}}</option>
                            </select>
                        </label>
                    </div>
                    <button class="ui icon button" type="submit"><i class="plus icon"></i></button>
                </div>
                </form>
        </div>
        
        <div class="ui located modal grid">
            <h1 class="ui row center aligned row header">Adding Located</h1>
             <form class="ui row centered aligned form" ng-submit="addLocated()">
            <div class="centered fields">
                <div class="field">
                    <label>Parcel <select ng-model="newParcID" >
                            <option ng-repeat="parcel in allParcels" value="{{parcel.parcelID}}">{{parcel.parcelID}}</option>
                        </select>
                    </label>
                </div>
                <div class="field">
                    <label>Location <select ng-model="newLocID"> 
                        <option ng-repeat="location in allLocations" value="{{location.locID}}">{{location.locID}}</option>
                    </select>
                    </label>
                </div>
                <div class="field">
                     <label>Date <input type="datetime-local" size="30" ng-model="newDate"/></label>
                </div>
                <div class="field">
                    <label>Time <input type="datetime-local" size="30" ng-model="newTime"/> </label>
                </div>
                <div class="field">
                    <label>Operation <select ng-model="newOperation">
                        <option value="boarding">Boarding</option>
                        <option value="transfer">Transfer</option>
                        <option value="delivery">Delivery</option>
                    </select> 
                </label>
                </div>
                <button class="ui icon button" type="submit"><i class="plus icon"></i></button>
            </div>
            </form>       
        </div>
        
        <div class="ui help modal">
            <h1 class="ui row center aligned row header">Help</h1>
        </div>
     <!-- The end of the modals -->      
    </body>
</html>

